/* Soluzione qui */


/* BONUS RESPONSIVE LARGE MOBILE 576px */

@media screen and (min-width:576px) {

    /* floating immagine */

    .presentation img {
        float: left;
        margin-right: 1rem;
    }

    /* sovradimensionamento bottoni */

    .btn {
        padding: 10px 40px;
    }

    /* cambio font pagina */

    body:not(.recipe-name) {
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
    }

    /* cambio font al titolo */

    .recipe-name {
        font-family: 'Nerko One', cursive;
    }
}

/* RESPONSIVE TABLET 768px */

@media screen and (min-width:768px) {

    /* allineamento titolo a sinistra */
    #topbar {
        justify-content: start;
    }

    /* padding al main content */
    main {
        padding: 40px;
    }

    /* grandezza e completamento titolo */
    .recipe-title {
        font-size: 1.2rem;
    }

    .recipe-origin {
        display: inline-block;
    }

    /* disposizione info ricetta a griglia */

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul>* {
        width: calc(100%/3 - 20px)
    }

    /* sovradimensionamento bottoni info ricetta */

    .social-networks>* {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* display banner pubblicitario */

    .ads {
        display: block;
    }

    /* floating immagine */

    .presentation img {
        float: left;
        margin-right: 1rem;
    }
}

/* RESPONSIVE DESKTOP 992px */

@media screen and (min-width:992px) {

    /*sovradimensionamento titolo */

    .recipe-title {
        font-size: 1.5rem;
    }

    /* disposizione info ricetta affianco a video e in colonna */
    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 70%;
    }

    .recipe-info {
        width: 30%;
    }

    .quick-notes ul {
        flex-direction: column;
    }

    .quick-notes li {
        width: 100%;
    }

    /* display nomi social */
    .social-networks .label {
        display: block;

    }

    .social-networks button {
        display: flex;
        gap: 5px;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;

    }

    .social-networks>* {
        width: calc(100%/5 - 20px);
    }

    /* disposizione testo in footer */

    footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    footer address {
        text-align: left;
    }

}